*{
    background-color: lightsalmon;
    font-family: "Segoe UI", "Microsoft JhengHei Light", serif;
}

.Main_text{
    position: relative;
    left:25%;
    text-align: center;
    color: white;
    background-color: transparent;
    font-size: 50px;
    width: 50%;
}