*{

    font-family: "Segoe UI", "Microsoft JhengHei Light", serif;
    background-color: lightsalmon;
    margin:0;
    padding:0;

}

.Main_text{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    text-align: center;
    font-size: 32px;
    color: white;
    background-color: transparent;
}

.BigPicture{
    position: relative;
    text-align: center;
    color: white;
    background-color: transparent;
}


.nav{
    position: absolute;
    top:30%;
    right: 3%;
    background-color: transparent;
}

.headerz{
    position: absolute;
    top: 3%;
    left: 3%;
    background-color: transparent;
    z-index: 15;
}

.headerz1{
    position: absolute;
    top:3%;
    left: -100px;
    background-color: transparent;
    z-index: 10;

}

.divider2{
    width:10px;
    display:inline-block;
    background-color: transparent;
}

.title{
    font-size:36px;
    border-color:transparent;
    font-weight: bolder;
    color:white;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.title2 {
    font-size:24px;
    border-color:transparent;
    font-weight: bolder;
    color:white;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.title3:hover{
    background-color: #817cff;
}

.title3{
    font-size:20px;
    border-radius:15px;
    color:white;
    border: 3px solid white;
    padding: 15px;
    background-blend-mode: color;
    background-color: transparent;
    transition-duration: 0.6s;
    cursor: pointer;
    font-family: "Segoe UI Light", "Microsoft JhengHei Light", serif;
}

.lineDS{
    border-top:2px white solid;
    opacity: 0.5;
    z-index: +20;
    position: relative;
    top: 100px;
}